<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CI Web Shop</title>
        
        <link rel="stylesheet" type="text/css" href="..\node_modules\bootstrap\dist\css\bootstrap.css">
        <link rel="stylesheet" type="text/css" href="..\css\layout.css">
        <link rel="stylesheet" type="text/css" href="..\css\utils.css">
        <script src="..\node_modules\angular\angular.js"></script>
        <script src="..\node_modules\jquery\dist\jquery.js"></script>
        <script src="..\node_modules\bootstrap\dist\js\bootstrap.js"></script>
        <script src="..\scripts\repository.js"></script>
        <script src="..\scripts\shopping-cart.js"></script>
    </head>
    <body ng-app="shopApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="..\index.html">CI Web Shop</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a href="shopping-cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a></li>
                    </ul>
                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search" ng-model="query">
                        </div>
                        <a href="search.html?q={{query}}" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" ng-controller="shoppingCartController">
            <div class="row" ng-hide="lines.length">
                <div class="col-lg-12 text-center">
                    <p>There are no items in your shopping cart...</p>
                    <p>You should do some shopping!</p>
                </div>
            </div>
            <div ng-repeat="line in lines">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-lg-2">
                            <a href="product.html?id={{line.product.id}}">
                                <img src="http://placehold.it/150x150" alt="..." />
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="caption">
                                <a href="product.html?id={{line.product.id}}">
                                    <h3>{{line.product.name}}</h3>
                                </a>
                                <p class="label label-default">{{line.product.category}}</p>
                            </div>
                        </div>
                        <div class="col-lg-1 clearfix">
                            <div class="caption pull-right">
                                <input ng-model="line.number" />
                                <button type="button" ng-click="removeLine(line)">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-2 clearfix">
                            <div class="caption pull-right">
                            <p>{{'&euro; ' + line.subTotal()}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="pull-right">{{'&euro;' + total()}}</p>
                </div>
            </div>
            <footer class="footer">
                <p>Copyright &copy; 2017</p>
            </footer>
        </div>
    </body>
</html>